<div id="Filtros">
    <input id="IncluyeTabla" name="IncluyeTabla" checked type="checkbox" value="true" /> ¿Incluir la tabla de datos en otro segmento?
    <input name="IncluyeTabla" type="hidden" value="true" />
</div>