  <appSettings>
    <add key="ReportServerUser" value="carlos.remy"/>
    <add key="ReportServerPassword" value="Nrh160200"/>
    <add key="ReportServerDomain" value="mexware"/>
    
    <add key="ReportServer" value="http://10.10.1.233/ReportServer"/>
    <add key="ReportFolder" value="SistemaSeguridad"/>
    
    <add key="rptTabular" value="Tabular"/>
    
    <add key="rptGeneral" value="General"/>
    <add key="rptGeneralChart" value="GeneralChart"/>
    <add key="rptGeneralTable" value="GeneralTable"/>

    <add key="rptTendenciaMes" value="TendenciaMes"/>
    <add key="rptTendenciaMesChart" value="TendenciaMesChart"/>
    <add key="rptTendenciaMesTable" value="TendenciaMesTable"/>

    <add key="rptTendenciaDia" value="TendenciaDia"/>
    <add key="rptTendenciaDiaChart" value="TendenciaDiaChart"/>
    <add key="rptTendenciaDiaTable" value="TendenciaDiaTable"/>

    <add key="rptTendenciaHora" value="TendenciaHora"/>
    <add key="rptTendenciaHoraChart" value="TendenciaHoraChart"/>
    <add key="rptTendenciaHoraTable" value="TendenciaHoraTable"/>
  </appSettings>
