<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConorContainer" connectionString="metadata=res://*/Conor.csdl|res://*/Conor.ssdl|res://*/Conor.msl;provider=System.Data.SqlClient;provider connection string='data source=10.10.1.233; initial catalog=ALXout01DB;integrated security=True;Connection Timeout=60; multipleactiveresultsets=true'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>