<div id="TI_5" >
    <div class="RowCenter">
        Medio Amenaza: <span id="divTipoExtorsion"><select id="ddMedioAmenaza" name="MedioAmenazaId" title="Medio Amenaza"></select></span>
        Motivo Amenaza: <span id="divTipoExtorsion"><select id="ddMotivoAmenaza" name="MotivoAmenazaId" title="Motivo Amenaza"></select></span>
    </div>
</div>