<div id="TI_4" >
    <div class="RowCenter">
         Tipo de Extorsión:<span id="divTipoExtorsion"><select id="ddTipoExtorsion" name="TipoExtorsionId" title="Tipo Extorsión"></select></span>
    </div>
</div>