<div id="TI_2" >
    <div class="RowCenter">
       <input id="Detenidos" name="Detenidos" type="checkbox"  value="true" />
        <input name="Detenidos" type="hidden" value="false" />
        ¿Detenidos?
    </div>
</div>