<table>
    <tr>
        <td> 
            Tipo Arma: <span id="divTipoArma"><select id="ddTipoArma" name="TipoArmaId" title="Tipo de Arma"></select></span>
            Cantidad delincuentes: <span id="divCantidadDelincuentes"><select id="ddCantidadDelincuentes" name="CantidadDelincuentesId" title="Cantidad de delincuentes"></select></span>
            Tipo Vehículo: <span id="divTipoVehiculo"><select id="ddTipoVehiculo" name="TipoVehiculoId" title="Zona"></select> </span>
        </td>
    </tr>
    <tr>
        <td><input id="Detenidos" name="Detenidos" type="checkbox" value="true" /> ¿Detenidos?
            <input name="Detenidos" type="hidden" value="false" />
        </td>
    </tr>
    
</table>