<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RiinContainer" connectionString="metadata=res://*/Riin.csdl|res://*/Riin.ssdl|res://*/Riin.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Boz1\JPadilla;initial catalog=RIIN;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>