
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    div.scroll {
     height: 200px;
     width: 300px;
     overflow: auto;
     border: 1px solid #666;
     background-color: #ccc;
     padding: 8px;
 }
 div.scroll {
		 height: 450px;
		 width: 30%;
		 overflow: auto;
		 border: 1px solid #666;
		 padding: 8px;
	}
	.left {
	  float: left;
	  padding: 0px 10px 0px 0px;
	  width: 90px;
	}
	.middle {
	  top: 10px;
	  margin-left: 100px;
	  margin-right: 100px;
	}
	.right {
	  float: right;
	  padding: 0px 10px 0px 10px;
	  width: 90px;
	}
</style>
<div id="reportes" class="container">
    <div class="">
        <div id="RTMes" class="left scroll">
        <h3>Options&nbsp;<span id="options-message" class="message">The examples shown here, are summarized for brevity, check the source for real code</span></h3>
        <ul style="height:1062px;width:1877px;" class="elements">
            <li><p>0</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>1</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>2</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>3</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>4</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>5</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>6</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>7</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>8</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>9</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>10</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>11</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>12</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>13</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>14</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>15</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>16</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>17</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>18</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>19</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>20</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>21</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>22</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>23</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>24</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>25</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>26</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>27</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>28</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>29</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li>
        </ul>
    </div>
        <div id="RTDia" class="right scroll">Advertising<br/>Links<br/>Go<br/>Here</div>
        <div id="RTHora" class="middle scroll">
        Her. And in the wood, where often you and I, Vpon faint Primrose beds, were wont to lye, Emptying our bosomes, of their counsell sweld: There my Lysander, and my selfe shall meete, And thence from Athens turne away our eyes To seeke new friends and strange companions, Farwell sweet play-fellow, pray thou for vs, And good lucke grant thee thy Demetrius. Keepe word Lysander we must starue our sight, From louers foode, till morrow deepe midnight.
    </div>
</div>
    <div class="">
        <div id="RGeneral" class="left scroll">
        <h3>Options&nbsp;<span id="options-message" class="message">The examples shown here, are summarized for brevity, check the source for real code</span></h3>
        <ul style="height:1062px;width:1877px;" class="elements">
            <li><p>0</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>1</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>2</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>3</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>4</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>5</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>6</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>7</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>8</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>9</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>10</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>11</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>12</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>13</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>14</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>15</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>16</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>17</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>18</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>19</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>20</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>21</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>22</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>23</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>24</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>25</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>26</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>27</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>28</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li><li><p>29</p><a class="back" title="$(...).scrollTo( 0, 800, {queue:true} );" href="#">go back</a></li>
        </ul>
    </div>
        <div id="RTabular" class="right scroll">Advertising<br/>Links<br/>Go<br/>Here</div>
        <div id="RMapa" class="middle scroll">
        Her. And in the wood, where often you and I, Vpon faint Primrose beds, were wont to lye, Emptying our bosomes, of their counsell sweld: There my Lysander, and my selfe shall meete, And thence from Athens turne away our eyes To seeke new friends and strange companions, Farwell sweet play-fellow, pray thou for vs, And good lucke grant thee thy Demetrius. Keepe word Lysander we must starue our sight, From louers foode, till morrow deepe midnight.
    </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        (function poll() {
            $.ajax({ url: "server", success: function (data) {
                //Update your dashboard gauge
                var rMesHtml = $(data).find("#RTMes");
                var rDiahtml = $(data).find("#RTDia");
                var rHorahtml = $(data).find("#RTHora");
                var rGeneralmhtml = $(data).find("#RGeneral");
                var rTabularhtml = $(data).find("#RTabular");
                var rMapahtml = $(data).find("#RMapa");
                $("#RTMes").html(rMesHtml);
                
            }, dataType: "json", complete: poll, timeout: 30000
            });
        })();
    });
//    function PollReports() {
//        $('/Home/InventoryData').load("", function (data) {
//            inventoryDataViewModel.InStock(data.InStock);
//            inventoryDataViewModel.Reserve(data.Reserve);
//            setTimeout("PollReports()", 5000);
//        });
//    }
</script>
