<!-- General -->
<div>@Html.Partial("_HeaderLocalizacion")
</div>
    
<div style="float:left">
<ul style="display: inline; list-style-type: none;">
    <li style="float: left; padding-right: 5px;">@Html.Partial("_FechasInicialFinal")</li>
</ul>
</div>

</script>
