<!-- Tabular -->
<div>@Html.Partial("_HeaderLocalizacion")
</div>
    
<div style="float:left">
<ul style="display: inline; list-style-type: none;">
    <li style="float: left; padding-right: 5px;">@Html.Partial("_FechasInicialFinal")</li>
    <li style="float: left; padding-right: 5px;">@Html.Partial("_Montos")</li>
</ul>
</div>

<div style="padding-top:5px; float:left">
    Tipo de incidente
    <select id="cmbTiposIncidente" name="PerfilId" title="Tipos de incidente" multiple="multiple"></select>  
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#cmbTiposIncidente").Cascade("@Url.Action("GetTiposIncidente", "Helper")", null, multiseleccion, 260);

    function multiseleccion(object, size) {
        $(object).multiselect({
            selectedList: 4,
            header: false,
                minWidth:size,
            noneSelectedText: "Seleccione..."
        });
        $(object).multiselect('refresh');
    }
});
</script>
