<table>
    <tr>
        <td>Monto Inicial</td>
        <td></td>
        <td><input type="text" id="txtMontoInicial" /></td>
        <td>&nbsp;</td>
        <td>Monto Final</td>
        <td><input type="text" id="txtMontoFinal" /></td>
    </tr>
</table>